<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header">
      <h3 class="mb-0">Create a New Event</h3>
    </div>

    <div class="card-body">
      <%= form_with model: @event, local: true do |form| %>
        
        <div class="mb-3">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :category %>
          <%= form.text_field :category, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :location %>
          <%= form.text_field :location, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :start_date %>
          <%= form.date_field :start_date, data: { "event-date-sync-target": "start", action: "change->event-date-sync#syncEndDate" }, class: "form-control" %>
        </div>     

        <div class="mb-3">
          <%= form.label :end_date %><br>
          <%= form.date_field :end_date, data: { "event-date-sync-target": "end" }, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :start_time %>
          <%= form.time_field :start_time, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :end_time %>
          <%= form.time_field :end_time, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :timezone %>
          <%= form.text_field :timezone, class: "form-control" %>
        </div>     

        <div>
          <%= form.label :event_photo, "Upload Event Photo" %><br>
          <%= form.file_field :event_photo, class: "form-control" %>
        </div>

      
        <%= form.submit "Create Event", class: "btn btn-primary" %>
      
      <% end %>
      
    </div>
  </div>
</div>

