<h1>Edit Ticket</h1>

<%= form_with(model: @ticket, local: true) do |form| %>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :ticket_restrictions %>
    <%= form.text_field :ticket_restrictions %>
  </div>

  <div>
    <%= form.label :ticket_observations %>
    <%= form.text_field :ticket_observations %>
  </div>

  <div>
    <%= form.submit "Update Ticket", class: "btn btn-primary" %>
  </div>
<% end %>
