<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header">
      <h3>Sell a Ticket</h3>
    </div>
    <div class="card-body">
      <%= form_with model: @ticket, local: true, html: { multipart: true } do |form| %>
        
        <div class="mb-3">
          <%= form.label :event_id, "Select Event" %>
          <%= form.collection_select :event_id, @events, :id, :name, { prompt: "Choose an event" }, class: "form-select" %>
        </div>

        <p>
          Can’t find your event?
          <%= link_to "Create a new event", new_event_path %>
        </p>
        
        <div class="mb-3">
          <%= form.label :price %>
          <%= form.number_field :price, step: 0.01, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= form.label :ticket_restrictions, "Ticket Restrictions" %>
          <%= form.text_field :ticket_restrictions, placeholder: "e.g., Exclusive to Booth Students, Partners Allowed, BTG members only", class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= form.label :ticket_photo, "Ticket Photo" %>
          <%= form.file_field :ticket_photo, class: "form-control" %>
        </div>
        
        <%= form.submit "List Ticket", class: "btn btn-success" %>
      <% end %>
    </div>
 
  </div>
</div>
